{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"node": "current"
				}
			}
		],
		"@babel/typescript"
	],
	"plugins": [
		"@babel/proposal-class-properties",
		"@babel/proposal-object-rest-spread",
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"~": "./src",
					"!": "./test"
				}
			}
		]
	],
	"env": {
		"test": {
			"plugins": ["istanbul"]
		}
	}
}
